<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
    <p id="location"></p>
    <script>
        var host = location.host;
        document
            .getElementById('location')
            .innerHTML = '<h1>Get Access to Client: ' + host + '</h1>';
    </script>
</body>
</html>